[Unit]
Description=Run Funding Data Health Check Every Minute
Requires=binance-funding-ws.service
Requires=binance-funding-api.service

[Timer]
# Run every 1 minute
OnBootSec=1min
OnUnitActiveSec=1min
AccuracySec=1s

[Install]
WantedBy=timers.target
